<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Syrinx Fuksipassi Etusivu</title>
</head>
<body>
  <div class="login">
    <h1>Kirjaudu</h1>

    {% if msg %}
    <p class="">{{ msg | safe }}</p>
    {% endif %}

    <form action="/login" method="POST">
      <label for="useremail"></label>
      <input type="text" name="useremail" placeholder="Sähköposti" id="useremail" required>
      <label for="password"></label>
      <input type="password" name="password" placeholder="Salasana" id="password" required>
      <input type="submit" value="Kirjaudu">
    </form>

    <a href="/logout">Kirjaudu ulos</a>
  </div>
</body>
</html>