<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Syrinx Fuksipassi</title>
</head>
<body>
  <div class="login">
    <h1>Kirjaudu</h1>
    <form action="/submit" method="POST">
      <label for="useremail"></label>
      <input type="text" name="useremail" placeholder="Sähköposti" id="useremail" required>
      <label for="password"></label>
      <input type="password" name="password" placeholder="Salasana" id="password" required>
      <input type="submit" value="login">
    </form>
  </div>
</body>
</html>