<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Syrinx Fuksipassi Etusivu</title>
  <!-- 
  <script src="/dev/data.js"></script>
  <link rel="stylesheet" href="/static/css/syrinx.css">
  <script type="text/javascript" src="/static/script/syrinx.js"></script>
  -->
   
  <script type="text/javascript">
    var json = '{{ data|safe }}'
    data = JSON.parse(json);
  </script>
  <link rel="stylesheet" href="./static/css/syrinx.css">
  <script type="text/javascript" src="./static/script/syrinx.js"></script>
  
  <link rel="shortcut icon" type="image/png" href="./static/img/favicon_fp_2.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
</head>
<body>
  <div id="policy">

  </div>
  <div class="nav">
    <div class="row">
      <div class="center">


        <div class="col s12 m2 brand-site">
          <a href="https://www.syrinx.fi"><img src="./static/img/syrinx_logo.png" alt="" class="responsive-img"></a>
        </div>
        <div class="col s12 m4 offset-m2">
          <a href="" class=""><h3 class="brand-text brand-logo">Syrinx Fuksipassi</h3></a>
        </div>
        <div class="col s12 m2">
          <p id="useremail" class="brand-text"></p>
        </div>
        <div class="col s12 m2 logout">
          <a href="/logout">
            <button class="btn-small logout-btn yellow darken-2" type="submit" name="logout-submit">Kirjaudu ulos</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="center container">
    <p class="info-text">Tämä on Syrinx Ry:n virallinen Fuksipassi 2020. Seuraavia tehtäviä suorittamalla saat kaiken irti
      fuksisyksystäsi ja pääset samalla sukeltamaan osaksi Syrinxin toimintaa!</p>
    <p class="info-text">Vaikka fuksipassin täyttämiseen tulee suhtautua omistautuneesti ja asianmukaisella vakavuudella, muista
      aina tehtäviä suorittaessasi pitää hauskaa ja hakea rennosti uusia kokemuksia.</p>
    <p class="info-text info-text-last">Antoisaa fuksisyksyä!</p>
  </div>

  <h2 class="center gray-text">Tehtävät</h2>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="center">
          <button class="accordion"><h4>Perusopinnot</h4><br><h5 id="perusopinnot_suor"></h5></button>
          <div class="panel">
            <div id="perusopinnot" class="row">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="center">
          <button class="accordion"><h4>Aineopinnot</h4><br><h5 id="aineopinnot_suor"></h5></button>
          <div class="panel">
            <div id="aineopinnot" class="row">
              
              
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="center">
          <button class="accordion"><h4>Syventävät opinnot</h4><br><h5 id="syventavat_opinnot_suor"></h5></button>
          <div class="panel">
            <div id="syventavat_opinnot" class="row">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="center">
          <button class="accordion"><h4>Yleisopinnot</h4><br><h5 id="yleisopinnot_suor"></h5></button>
          <div class="panel">
            <div id="yleisopinnot" class="row">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>