<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sporticus Fuksipassi Etusivu</title>
 <!-- 
  <script src="/dev/data.js"></script>
  <link rel="stylesheet" href="/static/css/varkaat.css">
  <script type="text/javascript" src="/static/script/varkaat.js"></script>
  
    -->
  <script type="text/javascript">
    var json = '{{ data|safe }}'
    data = JSON.parse(json);
  </script>
  <link rel="stylesheet" href="./static/css/sporticus.css">
  <script type="text/javascript" src="./static/script/sporticus.js"></script>
  
  <link rel="shortcut icon" type="image/png" href="./static/img/favicon_fp_2.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
</head>
<body>
  <div id="policy">

  </div>
  <div class="nav">
    <div class="row">
      <div class="center">


        <div class="col s12 m2 brand-site">
          <a href="https://www.sporticus.fi"><img src="./static/img/sporticus_logo.png" alt="" class="responsive-img"></a>
        </div>
        <div class="col s12 m4 offset-m2">
          <a href="#" class=""><h3 class="brand-text brand-logo">Sporticus Fuksipassi</h3></a>
        </div>
        <div class="col s12 m2">
          <p id="useremail" class="brand-text"></p>
        </div>
        <div class="col s12 m2 logout">
          <a href="/logout">
            <button class="btn-small logout-btn green darken-2" type="submit" name="logout-submit">Kirjaudu ulos</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="center container">
    <!--<p class="info-text">Jokainen tehtävä tulee jotenkin osoittaa suoritetuksi kuvan, sanallisen tekstin tai jonkin muun
      todisteen avulla. Nämä lisätiedot voit lähettää tutorillesi WhatsAppin välityksellä, mikäli tutor ei ole
      ollut paikalla tehtävää suoritettaessa. Tutorit hyväksyvät vain omien fuksiryhmiensä tehtävät.
      Mikäli joku toinen tutor on nähnyt tehtävän suorituksen, ilmoita tästä erikseen omille tutoreillesi.</p>
    <p class="info-text"></p>
    <p class="info-text info-text-last">Onnea matkaan!</p>-->
  </div>

  <h2 class="center gray-text">Tehtävät</h2>

  <div class="container">
    <div id="row" class="row">
      
    </div>
  </div>
</body>
</html>