<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuksipassi Hallinta</title>

    <script type="text/javascript">
        json = JSON.parse('{{ data|safe }}');
    </script>
    <script type="text/javascript" src="./static/script/hallinta.js"></script>
    
    <link rel="shortcut icon" type="image/png" href="./static/img/favicon_fp_2.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./static/css/hallinta.css">

    <!--
    <script type="text/javascript" src="/dev/datahallinta.js"></script>
    <script type="text/javascript" src="/static/script/hallinta.js"></script>
    
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon_fp_2.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/hallinta.css">-->
</head>
<body>
    <div class="nav">
        <div class="row">
            <div class="center">
            <div class="col s12 m2 brand-site">
                
            </div>
            <div class="col s12 m4 offset-m2">
                <a href="" class=""><h5 class="brand-text brand-logo">Fuksipassi Hallinta</h5></a>
            </div>
            <div class="col s12 m2">
                <p id="useremail" class="brand-text"></p>
            </div>
            <div class="col s12 m2 logout">
                <a href="/logout">
                <button class="btn-small logout-btn" type="submit" name="logout-submit">Kirjaudu ulos</button>
                </a>
            </div>
            </div>
        </div>
    </div>
    <div class="con">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                  <li class="tab col s4"><a class="" href="#pyyn">Pyynnöt</a></li>
                  <li class="tab col s4"><a href="#teht">Tehtävät</a></li>
                  <li class="tab col s4"><a href="#kayt">Käyttäjät</a></li>
                </ul>
            </div>
            <div id="pyyn" class="col s12">    
                <ul id="collapsible-pyyn" class="collapsible">
                    
                </ul>
        

            </div>
            <div id="teht" class="col s12">Tehtävät</div>
            <div id="kayt" class="col s12">Käyttäjät</div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>